@import './../../../vars.scss';

.categoryHeader {
  .sort {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    background-color: $secondaryBackground;
    border-radius: $borderRadius;

    .byLine {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 20vw;

      cursor: pointer;
      .selected {
        color: $highLightedText;
      }
      .notSelected {
        color: $TinedText;
      }
      .notSelected:hover {
        color: $mainText;
      }
    }
    .type {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 8vw;
      .icon {
        padding: 12px;
        cursor: pointer;
      }
      .active {
        border-radius: $borderRadius;
        background-color: $secondaryBackgroundTransparent;
      }
    }
  }
  .title {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;

    margin: 45px 0;
  }
}
