@import './../../vars.scss';

.comment {
  background-color: $secondaryBackground;

  padding: 16px;

  .author {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .text {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }
}
