@import '../../../../vars.scss';

.day {
  padding: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;

  justify-content: center;

  .dayName {
    text-align: center;
  }

  .temp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.day:hover,
.day:focus {
  background-color: $activeBackground;
}
.selected {
  background-color: $secondaryBackground;
}
.selected:hover,
.selected:focus {
  background-color: $secondaryBackground;
}
