@import "./../../vars.scss";

.user {
  color: $mainText;
  margin: 0 auto;

  width: $defaultWidth;
  .writerInfo {
    background-color: $secondaryBackground;
    padding: 10px;

    border-radius: $borderRadius;

    .banner {
      border-radius: $borderRadius;
      width: 100%;
    }

    .writer {
      width: 100%;
    }
  }
  .articles {
    margin: 4vh 0;
  }
}
