@import '../../../../vars.scss';

.byLocation {
  grid-area: 1 / 1 / 3 / 3;

  .general {
    display: flex;
    justify-content: space-between;
    .stats {
      display: flex;
      flex-direction: row;
    }
  }
  .days {
    display: flex;
    justify-content: space-around;
  }
}
