@import './../../vars.scss';
.link {
  margin: 45px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  .url:hover {
    color: $TinedText;
  }

  .current {
    color: $TinedText;
  }
}
