.article {
  display: flex;
  flex-direction: column;
  .image {
    background-color: #222;
    animation-name: color;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    object-fit: cover;
  }
  .text {
    display: flex;
    flex-direction: column;
    .title {
      margin: 16px 0;
    }
  }
}
@keyframes color {
  0% {
    background-color: #4f4f4f;
  }
  50% {
    background-color: #ffffff;
  }
  100% {
    background-color: #4f4f4f;
  }
}

.wideArticle {
  display: flex;
  flex-direction: row;
  .text {
    padding-left: 2vw;
  }
}
