@import './../../vars.scss';

.article {
  display: flex;
  flex-direction: column;
  .image {
    border-radius: $borderRadius;

    background-color: #222;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    object-fit: cover;
  }
  .text {
    display: flex;
    flex-direction: column;
    width: 340px;

    .title {
      font-size: 16px;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 16px 0;
    }
    .abstract {
      font-size: 14px;

      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    .byline {
      color: $TinedText;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0.25px;
    }
  }
}

.wideArticle {
  display: flex;
  flex-direction: row;
  .text {
    padding-left: 2vw;
  }
}
.highArticle {
  position: relative;
  display: flex;
  justify-content: center;

  width: 320px;

  .image {
    border-radius: $borderRadius;

    background-color: #222;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    object-fit: cover;
  }
  .text {
    border-radius: $borderRadius;

    background-color: $secondaryBackgroundTransparent;

    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);

    z-index: 2;

    width: 85%;

    padding: 16px;

    .title {
      font-size: 16px;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 16px;
    }
    .abstract {
      font-size: 14px;

      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}

.highNWideArticle {
  width: 690px;
  width: 2fr;

  grid-area: 1 / 3 / 2 / 5;
}
@keyframes pulse {
  0% {
    background-color: #4f4f4f;
  }
  50% {
    background-color: #969696;
  }
  100% {
    background-color: #4f4f4f;
  }
}
