@import 'vars.scss';

.notFound {
  height: 90vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  text-align: center;
  .errorCode {
    color: $highLightedText;
    font-size: 12rem;
  }
}
