$mainBackground: #202124;
$secondaryBackground: #58595b;
$secondaryBackgroundTransparent: rgba(88, 89, 91, 0.85);
$activeBackground: #909092;

$mainText: #fff;
$TinedText: #d1d1d1;
$highLightedText: #fc4308;

$defaultWidth: 90vw;
$defaultMargin: -5vw;
