$mainBackground: #020300;
$secondaryBackground: #212220;
$secondaryBackgroundTransparent: rgba(63, 65, 64, 0.85);

$mainText: #ffffff;
$TinedText: #f6f8ff;

$highLightedText: #fc4308;
$highLightedTinnedText: #c43809;

$defaultWidth: 90vw;
$defaultMargin: -5vw;

$borderRadius: 12px;

$boxShadow: 0px 10px 13px -7px $secondaryBackground,
  10px 5px 15px 5px rgba(0, 0, 0, 0.3);
