$mainBackground: #020300;
$secondaryBackground: #212220;
$secondaryBackgroundTransparent: rgba(84, 86, 85, 0.85);
$secondaryBackgroundTransparentTinned: rgba(84, 86, 85, 0.5);

$mainText: #ffffff;
$TinedText: #cacaca;

$highLightedText: #fc4308;
$highLightedTinnedText: #c43809;

$defaultWidth: 90vw;
$defaultMargin: -5vw;

$borderRadius: 12px;

$boxShadow: 0px 10px 13px -7px $secondaryBackground,
  10px 5px 15px 5px $mainBackground;
