@import "./../../vars.scss";

.profile {
  width: $defaultWidth;
  margin: 0 auto;
  display: flex;

  flex-direction: column;
  .Inputs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr) 4fr 3fr;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }
  .Button {
    margin: 5vh 0;
    align-self: flex-end;
  }
}
