@import '../vars.scss';

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 0px;

  width: $defaultWidth;
  margin: 5vh auto;

  .leftfooterSection {
    border-radius: $borderRadius;

    grid-area: 1 / 1 / 2 / 3;

    background-color: $secondaryBackground;
    padding: 40px;

    width: calc($defaultWidth/2);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr repeat(2, 0.1fr);
    grid-column-gap: 5vw;
    grid-row-gap: 3vh;
    .megaNews {
      grid-area: 1 / 1 / 2 / 3;
    }

    .categories {
      grid-area: 1 / 3 / 2 / 4;
      .links {
        display: flex;
        flex-direction: column;
      }
    }

    .newsLetters {
      grid-area: 2 / 1 / 3 / 3;
    }

    .socialNetwork {
      grid-area: 2 / 3 / 3 / 4;
    }

    .copyright {
      grid-area: 3 / 1 / 4 / 4;
      display: flex;
      justify-content: space-between;
    }
  }
  .newComents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .instagram {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.5fr repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    .instagramTitle {
      grid-area: 1 / 1 / 2 / 4;
    }
    .icon {
      border-radius: $borderRadius;
    }
  }
}
