@import '../vars.scss';

.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  width: $defaultWidth;
  margin: 0 auto;

  .footerSection {
    width: calc($defaultWidth/2);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    .megaNews {
      grid-area: 1 / 1 / 2 / 3;
    }

    .categories {
      grid-area: 1 / 3 / 2 / 4;
    }
  }
}
