@import '../vars.scss';

.header {
  width: $defaultWidth;
  margin: 3vh auto;

  display: flex;
  justify-content: space-between;

  align-items: center;

  .selected {
    color: $highLightedText;
  }
  .selected:hover {
    color: $highLightedTinnedText;
  }

  .url {
    color: $mainText;
  }
  .url:hover {
    color: $TinedText;
  }

  .half {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .user {
      display: flex;
      flex-direction: row;
      align-items: center;

      display: flex;
      flex-direction: row;

      align-items: center;

      cursor: pointer;
      position: relative;
      .name {
        margin: 0 8px;
      }

      .dropDown {
        border-radius: $borderRadius;

        background-color: $mainBackground;

        box-shadow: $boxShadow;
        position: absolute;
        transform: translate(20%, 30%);
        left: 0;
        top: 0;
        z-index: 2;

        padding: 12px;

        .Link {
          width: 100%;
          color: $mainText;
        }
        .Link:hover {
          color: $highLightedText;
        }
      }
    }
    .icon {
      display: flex;
      align-items: center;
      background-color: $secondaryBackground;
      padding: 10px;
      border-radius: $borderRadius;
    }
    .icon:hover {
      background-color: $secondaryBackgroundTransparent;
    }
  }
}
@media (orientation: portrait) {
  .header {
    .selected {
      display: none;
    }
    .url {
      display: none;
    }
  }
}
