@import '../vars.scss';

.header {
  width: $defaultWidth;
  margin: 3vh auto;

  display: flex;
  justify-content: space-between;

  align-items: center;

  .logo {
    color: $highLightedText;
  }

  .half {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
