@import './../../vars.scss';

.body {
  text-align: center;
  .shareAndLike {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  .url {
    color: $highLightedText;
    text-decoration: underline;
    font-size: 2rem;
    margin: 20vh 0;
  }
  .content {
    width: 60vw;
    margin: 0 auto;

    text-align: center;

    color: $mainText;
    background-color: $mainBackground;
    ul {
      list-style: none;
    }
    img {
      height: 100%;
      width: 100%;
    }
    a img {
      width: auto;
    }
  }
  .smallContent {
    width: 80vw;
    ul {
      list-style: none;
    }
  }
}
