@import './../../../vars.scss';

.headerSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .arrow {
    border-radius: $borderRadius;

    margin: 0 5px;
    padding: 12px;
    border: none;
    background-color: $secondaryBackground;
  }
  .arrow:hover {
    cursor: pointer;
    background-color: $secondaryBackgroundTransparent;
  }

  margin: 4vh auto;
}
.posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));

  grid-template-rows: auto;
  grid-column-gap: 1vw;
  grid-row-gap: 5vh;

  justify-items: center;

  // overflow: hidden;
}
