@import './../../../vars.scss';

.highLightedButton {
  align-self: flex-end;
  width: 10vw;
  background-color: $highLightedText;
}

.highLightedButton:hover,
.highLightedButton:focus {
  cursor: pointer;
  background-color: $highLightedTinnedText;
}
.button {
  align-self: flex-end;
  width: 10vw;
  background-color: $mainBackground;
  border: 1px solid $secondaryBackground;
}
.button:hover,
.button:focus {
  cursor: pointer;
  background-color: $secondaryBackground;
  border-color: $secondaryBackgroundTransparent;
}
